@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
ul{ list-style:none;}
.comwidth{ width:1000px;}
body{ background:#f2f2f2;}
.fl{ float:left;}
a{ text-decoration:none;}
/*nav*/
#nav{ height:55px; margin:0 auto; width:1406px;}
#nav .logo{ width:167px; height:40px; background:url(../images/logo.jpg) no-repeat left center; float: left; margin:15px 0 0 202px;}
#nav .logo a{ text-indent:-5000px; display:block;width:167px; height:40px; font-size:12px;}
#nav ul{ margin-left:677px;}
#nav ul li{ float:left;}
#nav ul .navheader{ padding:0 15px 0 13px;}
#nav ul li a{ display:block; height:65px; line-height:65px; text-align: center; color:#676767; padding:0 21px; text-decoration:none; float:left; font-size:14px; }
#nav ul li a:hover{ background:#00b5ee; color:#fffeff;}
/*banner*/
#banner{ height:450px; margin:0 auto;width:1406px; overflow:hidden;}
/*main*/
#main{ margin:0 203px;position:relative; width:1406px;overflow:hidden;}
#main .maintop{ height:260px;}
#main .maintop .maintop-left{ width:511px; height:229px; position:relative; padding:26px 0 0 0;}
#main .maintop .maintop-left ul{ font-size:12px;}
#main .maintop .maintop-left ul li{ float:left; line-height:22px; height:22px;}
.maintop .maintop-left ul li strong{ color:#00b5ee;font-weight:100; float:left;display:inline-block;}
.maintop .maintop-left ul li span{ color:#646464; left:124px; right:42px; display:inline-block; float:left; position: absolute;}
.maintop .maintop-left .maintop-left-a{ width:32px; height:8px; float:left; position:absolute; right:117px; bottom:5px;}
.maintop .maintop-left a{ background:url(../images/main-left-img2.jpg) no-repeat left center; display:block; width:8px; height:8px;margin:0px 4px 0px 4px; float:left;}
.maintop .maintop-left .active{ background:url(../images/main-left-img1.jpg) no-repeat left center;}
.maintop-right{ width:488px; height:216px; padding-top:44px;}
.maintop-right .mr-img{ margin:0 5px;}

#main .mainbottom{ padding:69px 0 0 0; width:978px; height:312px; overflow:hidden; margin-bottom:93px;}
#main .mainbottom a{color:#9b9b9b;}
.mainbottom .mainnew{ width:301px; height:219px; font-size:12px;color:#9b9b9b; line-height:21px; height:21px; float:left;}
.mainbottom h2{ font-size:18px; color:#6e6e6e; margin-bottom:41px;}
.mainbottom span{ color:#9b9b9b; font-size:12px; float:right; display:block; line-height:12px; margin-right:11px;}
.mainbottom .mainnew .newcontent{border-right:1px solid #e5e5e5; height:189px;}
.mainbottom .mainnew .newcontent ul{ margin-bottom:21px; padding-top:31px;}
.mainbottom .mainnew .newcontent p{ padding-right:49px;}

.mainbottom-content{ float:left;font-size:12px;color:#9b9b9b; }
.mainbottom-content .b-content{width:297px; height:189px; border-left:1px solid #ffffff; border-right:1px solid #e2e2e2;}
.mainbottom-content h2{ padding-left:39px;}
.mainbottom-content .b-content img{ margin-top:29px; margin-left:25px;}
.mainbottom-content .b-content p{ margin:22px 0 10px 29px;}
.mainbottom-content .b-content .s1{ float:none; display:inline;margin-left:29px;}
.mainbottom-content .b-content .s2{ float:none;display:inline;margin-left:13px;}
.mainbottom-content .b-content .p1{ margin-top:9px;}

.mainbottom-right{ float:left;font-size:12px;}
.mainbottom-right h2{ padding-left:39px;}
.mainbottom-right .b-right{ width:353px; height:189px; border-left:1px solid #ffffff; padding-left:24px;}
.mainbottom-right ul{ padding-top:28px;}
.mainbottom-right ul li{ height:28px; line-height:28px; text-align:left;}

/*footernav*/
#footernav{ width:1001px; height:49px; margin:0 auto;}
#footernav .bg{ width:50px; height:48px; background:url(../images/img1.jpg) no-repeat; margin-top:1px; float:left; margin-left:27px;}
#footernav .nav-right{ width:642px; height:34px; border:1px solid #cfcfcf; float:right; padding:6px 0; margin-bottom:1px;}
#footernav .nav-right ul li{ float:left; font-size:12px; border-right:1px solid #b7b7b7; height:34px;}
#footernav .nav-right ul li a{ color:#7d7d7d; padding:0 10px; float:left; line-height:17px;}
#footernav .nav-right ul li .a1{ background:url(../images/img3.jpg) no-repeat 13px center; display:block; height:34px; line-height:34px; padding-left:50px; }
#footernav .nav-right ul li .a2{ background:url(../images/img4.jpg) no-repeat 44px center;display:block; float:right; height:34px; line-height:34px; padding-left:75px;}
#footernav .nav-right ul li .a3{ height:34px; float:left; line-height:17px;}
#footernav .nav-right ul li .a4{ background:url(../images/img2.jpg) no-repeat 44px center;display:block; float:right; height:34px; line-height:34px; padding-left:75px;}

#footer{ width:100%; height:229px; background:#383838;}
#footer .footermain{ width:1001px; height:229px; margin:0 auto; padding-left:53px; position:relative;}
.footermain .footer-left{ float:left; margin-top:51px;overflow:hidden;}
.footermain .footer-left ul{ margin-bottom:9px; overflow:hidden;}
.footermain .footer-left ul li{ float:left;border-right:1px solid #6e6e6e;}
.footermain .footer-left ul li a{ display:block; padding:0 22px; color:#FFF; border-right:1px solid #bbbbbb; font-size:12px;}
.footermain .footer-left p{ font-size:12px; color:#878787; line-height:21px; height:21px;}

.footermain .footer-right{ float:right; margin-top:53px;}
.footermain .footer-right p{ font-size:12px; color:#878787; margin-bottom:4px;}
.footermain .footer-right span{ font-size:24px; color:#c0c0c0; font-family:"微软雅黑"; margin-right:27px;}
.footermain .footer-bottom{ position:absolute; bottom:33px; color:#7b7b7b;font-family:"微软雅黑";font-size:12px; left:50%; margin-left:-78px;}

