/*网页头部开始*/
#header-wrapper{width:100%;height:98px;border-bottom:1px solid #e8e8e8;background:#fff;}
.header{height:61px; background:#fff;overflow: hidden;padding-top:37px;padding-left:54px;width:950px;}
.header .logo{width: 151px;height: 31px;background: url(../images/logo_03.jpg) no-repeat;float: left;}
.header .logo a{width: 151px;height: 31px;display: block;text-indent: -9999px;}
.nav{margin-top: 16px;}
.nav ul{float: right;}
.nav ul li{float: left;height: 28px;line-height: 28px;}
.nav ul li a{display: block;padding:0 27px 0 31px;border-right:1px solid #ebf0f3;font-size:14px;height:16px;line-height: 16px;}
.nav ul li:nth-of-type(7) a{border-right:0;}
.nav ul li a:hover{color:#016e9b;}
.nav ul li:hover{border-bottom:4px solid color:#016e9b;}

/*banner*/
#banner-wrapper{width:100%;height:412px;background:#fff;}
.banner{height: 412px;background:#fff;width: 100%;}
.banner .banner-top{height: 57px;line-height: 57px;}
.banner .banner-top p{height: 57px;font-size:12px;color: #020109;float: left;}
.banner .banner-top p:nth-of-type(2){margin-left: 14px;}
.banner .banner-top p:nth-of-type(3){float: right;}
.banner .banner-top p:nth-of-type(3) i{color: #75848b;}
.banner .banner-top p:nth-of-type(3) a{color: #b6b6b6;}
.banner .banner-top p:nth-of-type(3) a:nth-of-type(1){font-size:18px;}

.banner .banner-img{position:relative;}
.banner .banner-img a{display: block;width: 100%;height: 355px;background: url(../images/banner_02.jpg) no-repeat;background-size:100% 100%;}
.banner .banner-img ol{height:3px;width:116px;position:absolute;bottom:12px;left:50%;margin-left:-58px;}
.banner .banner-img ol li{float: left;}
.banner .banner-img ol li a{display: block;width:25px;height:3px;background:#fff;margin: 0 2px;}
.banner .banner-img ol li a:hover{background: #703809;}

/*主体开始*/
#main-wrapper{width:100%;height:auto;background:#fff;}
.cases-wrapper{background:#f1f1f1;height: 500px;width:100%;}
.cases{height: 500px;background:#f1f1f1;overflow: hidden;}
.cases h2{font-size:26px;color:#656972;text-align: center;margin-top:25px;}
.cases p{font-size:12px;color:#606672;text-align: center;margin-top:8px;}

.cases .cases-img{width: 100%;height:331px;margin-top:13px;}
.cases .cases-img ul{width:100%; height:100%;display: flex;justify-content: space-between;flex-wrap: wrap;align-content: space-between;}
.cases .cases-img ul li a{display: block;width:250px;height: 165px;background:url(../images/case-img1.jpg) no-repeat;position:relative;}
.cases .cases-img ul li a span{display: none;width:250px;height: 165px;background:#000;opacity:0.3;position: absolute;top: 0 ;left: 0;}
.cases .cases-img ul li a i{display: none;width: 139px;height: 65px;border:1px solid #fff; color:#fff;line-height: 65px;text-align: center;font-size:20px;font-weight:bold;position: absolute;top: 50%;margin-top:-32.5px;left:50%;margin-left:-69.5px;}
.cases .cases-img ul li a:hover span{display: block;}
.cases .cases-img ul li a:hover i{display: block;}
.cases .cases-img ul li:nth-of-type(2) a{background:url(../images/case-img2.jpg) no-repeat;}
.cases .cases-img ul li:nth-of-type(3) a{background:url(../images/case-img3.jpg) no-repeat;}
.cases .cases-img ul li:nth-of-type(4) a{background:url(../images/case-img4.jpg) no-repeat;}
.cases .cases-img ul li:nth-of-type(5) a{background:url(../images/case-img5.jpg) no-repeat;}
.cases .cases-img ul li:nth-of-type(6) a{background:url(../images/case-img6.jpg) no-repeat;}
.cases .cases-img ul li:nth-of-type(7) a{background:url(../images/case-img7.jpg) no-repeat;}
.cases .cases-img ul li:nth-of-type(8) a{background:url(../images/case-img8.jpg) no-repeat;}

.cases .cases-footer{height: 42px;width: 100%;position:relative;}
.cases .cases-footer .line1{height: 40px;border-bottom:1px solid #d7d7d7;width:859px;margin: 0 auto;display: block;}
.cases .cases-footer .line2{height: 40px;border-top:1px solid #fff;width:859px;margin: 0 auto;display: block;}
.cases .cases-footer p{width:174px;height:32px;position:absolute;top:50%;margin-top:0px;left:50%;margin-left:-87px;background:#f1f1f1;}
.cases .cases-footer p a{display:block;width:114px;height:32px;line-height:32px;text-align:center;border-radius:16px;background:#e6e6e6;color:#989898;margin: 0 auto;}
.cases .cases-footer p a i{color:#818181;}

/*contont开始*/
#contont-wrapper{height: 243px;width:100%;background:url(../images/contont-bg_03.jpg) repeat-x;}
.contont{height: 243px;padding: 0 1px;box-sizing: border-box;background:url(../images/contont-bg_03.jpg) repeat-x;}
.contont .left{width: 250px;height: 243px;background:url(../images/hd01_03.jpg) no-repeat;float: left;padding:0 12px;box-sizing: border-box;}
.contont .left p{color: #fff;font-size:12px;font-weight: bold;text-align: center;margin-top: 164px;}
.contont dl{width:250px;height: 100%;float: left;}
.contont dl dt a{display: block;width:249px;height:163px;border-right:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:url(../images/images/hd02_03_08.jpg) no-repeat center 25px;overflow: hidden;}
.contont dl dt a strong{text-align: center;font-size:18px;font-weight:bold;color:#797a7c;display: block;margin-top:112px;}
.contont dl dt a span{display: block;text-align: center;color:#c6cbce;font-size:12px;}
.contont dl dd{border-right:1px solid #e6e6e6;width: 227px;height:61px;border-bottom:1px solid #e6e6e6;padding:18px 14px 0 8px;}
.contont dl dd p{color:#a09a8e;font-size:12px;line-height:18px;}








