#nav{height:60px;background:#000000;width:1000px;}
#nav>ul>li{float:left;position:relative;}
#nav>ul>li>a{display: block;padding: 0 30px;height: 60px;line-height: 60px;color:#fff;}
#nav>ul>li>a:hover{background:#f40;color:#fff;}
#nav>ul>li:hover>ul{display:block;}
#nav>ul>li>ul{position:absolute;width:500px;display:none;}
#nav>ul>li>ul>li{float: left;background:#f40;}
#nav>ul>li>ul>li>a{display: block;color: #FFF;height:40px;line-height:40px;padding:0 30px;}
#nav>ul>li>ul>li>a:hover{color:#979797;}


























